/*--------------------------------------------------------------
## H1 H2 H3 H4 H5 H6 styles
--------------------------------------------------------------*/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  font-family: $font__heading;
  text-rendering: optimizelegibility;
  //letter-spacing: 2px;
  font-weight: 300;
  clear: both;
}

h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a {
  text-decoration: none;
}

h1, .h1 {
  font-size: 2.5em;
}

h2, .h2 {
  font-size: 1.75em;
  font-weight: 700;
  margin-bottom: 0.375em;
}
h3, .h3 {
  font-size: 1.125em;
  font-weight: 700;
}

h4, .h4 {
  font-size: 1.1em;
  font-weight: 700;
}

h5, .h5 {
  font-size: 0.846em;
  line-height: 2.09em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h6, .h6 {
  font-size: 0.7em;
}

p {
  font-family: $font__main;
  text-decoration: none;
  color: #000000;
}

p > span {
  color: #79f6ff;
}